* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header with image and navbar */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgray;
    color: #ffffff;
}


h1 {
    display: inline-block;
    font-size: 50px;
    margin-right:10px;
    align-items: center;
}

header div {
    display:inline-block;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left:150px;
}

/* My professional portfolio image */
header img {
    height: 125px;
}

div a {
    color:white;
    text-decoration: none;
}

p {
    margin-left:100px;
    padding: 10px;
    font-size: 16px;
}

h2 {
    padding:10px;
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    padding:5px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

h4 {
    padding:5px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.education {
    padding:10px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom: 20px;
    font-size: 20px;
}

.samples {
    display:flex;
    flex-wrap:wrap;
    padding:5px;
    justify-content: center;
  }

/* Header for most important project */
#bigCardHeader {
    padding: 20px;
    background: darkgrey;
    color: #fff;
    width: 200px;
    height: 12px;
    }

/* Image for most important project */
#bigCardImg {
    display:flex;
    flex-wrap:wrap;
    width: 200px;
    height: 200px;
    margin:0;
  }

.card {
    display:flex;
    width: 15em;
    text-align: center;
    margin:0;
    }

.card header {
    padding: 20px;
    background: darkgrey;
    color: #fff;
    width: 150px;
    height: 12px;
    }

.card img {
    display:flex;
    flex-wrap:wrap;
    width: 150px;
    height: 150px;
    margin:0;
    }

footer {
    display:inline-block;
    margin-left:50px;
    margin-bottom:50px;
     }

footer ul li {
    display:inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:20px;
    color:black;
    justify-content: space-between;
    padding-right:5px;
    }

footer ul li a {
   padding:5px;
    }

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
    .fa-instagram {
    background: #125688;
    color: white;
    }

/* Wraps the work sample elements when resizing viewport */
@media screen and (max-width: 768px) {
    .samples {
    flex-direction: column !important;
    flex-wrap: wrap;

    }
}